[package]
name = "radius-protocol"
version = "0.1.0"
edition = "2024"
authors = ["Abel W. Shimeles <abel.wen0@gmail.com>"]
description = "Runtime Agnostic async server implementation for radius protocol"
keywords = ["async", "radius"]
readme = "README.md"

[workspace]
resolver = "3"
members = ["server", "rt" , "abol-core", "abol-parser", "abol-codegen"]

[features]
# Runtime support features
default = ["tokio", "server"]
tokio = ["rt/tokio"]
smol = ["rt/smol"]

# Client and server logical features
client = []
server = []
[workspace.dependencies]
abol-core = { path = "abol-core" }
abol-parser = { path = "abol-parser" }
abol-codegen = { path = "abol-codegen" }
rt = { path = "rt" }
server = { path = "server" }

[dependencies]
rt = { workspace = true, features = ["tokio"] }
abol-core = { workspace = true }
abol-codegen = { workspace = true }
server = { workspace = true }
async-trait = "0.1.88"
anyhow = "1.0"
rand = "0.9.2"
thiserror = "2.0.17"
byteorder = "1.5.0"
md-5 = "0.10.6"
quote = "1.0.42"
proc-macro2 = "1.0.103"
heck = "0.5.0"
clap = { version = "4.5.53", features = ["derive"] }
futures = "0.3.31"
moka = { version = "0.12", features = ["future"] }
zeroize = "1.8.2"








