[package]
name = "abol"
version = "0.1.0"
edition = "2024"
authors = ["Abel W. Shimeles <abel.wen0@gmail.com>"]
description = "Runtime Agnostic async server implementation for radius protocol"
keywords = ["async", "radius"]
readme = "README.md"

[workspace]
resolver = "3"
members = [
    "server", 
    "rt", 
    "abol-core", 
    "abol-parser", 
    "abol-codegen",
    "fuzz", 
    "abol-util",
    ]

[workspace.dependencies]
abol-core = { path = "abol-core" }
abol-parser = { path = "abol-parser" }
abol-codegen = { path = "abol-codegen" }
rt = { path = "rt" }
server = { path = "server" }

anyhow = "1.0"
thiserror = "2.0"
byteorder = "1.5"
md-5 = "0.10"
bytes = "1.11"
rand = "0.9"
quote = "1.0"
proc-macro2 = "1.0"
heck = "0.5"
moka = { version = "0.12", features = ["future"] }
zeroize = "1.8"
dashmap = "6.1"


[dependencies]
rt = { workspace = true }
abol-core = { workspace = true }
abol-codegen = { workspace = true }
server = { workspace = true }

anyhow = { workspace = true }
thiserror = { workspace = true }
byteorder = { workspace = true }
md-5 = { workspace = true }
bytes = { workspace = true }
rand = { workspace = true }
quote = { workspace = true }
proc-macro2 = { workspace = true }
heck = { workspace = true }
moka = { workspace = true }
zeroize = { workspace = true }
dashmap = { workspace = true }

[dev-dependencies]
tokio = { version = "1"}
smol = {version = "2"}
abol-util = {path = "./abol-util"}
[features]
tokio = ["abol-util/tokio"]
smol = ["abol-util/smol"]

[[example]]
name = "tokio-server"
path = "examples/tokio-server.rs"
required-features = ["tokio"]

[[example]]
name = "smol-server"
path = "examples/smol-server.rs"
required-features = ["smol"]
