[package]
name = "radius-protocol"
version = "0.1.0"
edition = "2024"
authors = ["Abel W. Shimeles <abel.wen07@gmail.com>"]
description = "Runtime Agnostic async client/server implementation for radius protocol"
keywords = ["async", "radius"]
readme = "README.md"

[workspace]
resolver = "3"
members = [ "client", "server", "rt" , "core", "dict_parser", "dict_gen"]

[features]
# Runtime support features
default = ["tokio","client", "server"]
tokio = ["rt/tokio"]
smol = ["rt/smol"]

# Client and server logical features
client = []
server = []


[dependencies]
rt = { path = "rt" }
client = { path = "client" }
server = { path = "server"}
async-trait = "0.1.88"
anyhow = "1.0"
rand = "0.9.2"
thiserror = "2.0.17"
byteorder = "1.5.0"
md-5 = "0.10.6"




