[package]
name = "abol-core"
version = "0.1.0"
edition = "2024"
publish = false 
license = "MIT"

[dependencies]
rand = "0.9.2"
thiserror = "2.0.17"
byteorder = "1.5.0"
md-5 = "0.10.6"
zeroize = "1.8.2"
